
body {

  margin: 0;
  background: yellow;
  font-family: Arial, sans-serif;
}
.cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap:20px;
  padding: 20px;
}
.container {
  display: flex;
  flex-direction: column;
  width: 350px;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0px 14px 22px rgba(157, 93, 47, 0.962);
  background: #fff;

}


.nav {
 
  background: #ff914d; 
  color: white;
  text-align: center;
  padding: 15px;
}

.nav h1 {
  margin: 0;
  font-size: 20px;
}

.nav h4 {
  margin: 5px 0 0;
  font-weight: normal;
}


.info {
  
  background: #f1f1f1; 
  padding: 15px;
  font-size: 14px;
}

.info p {
  margin: 8px 0;
}


.footer {

  text-align: center;
  padding: 10px;
  font-size: 13px;
  background: #fafafa;
  border-top: 1px solid #ddd;
}
